.table-view-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;

	.search-input {
		margin-left: 1rem;
		max-width: 30rem;
	}
}

.table-view {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.no-tabs,
.no-tables {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100%;
}

.tabs {
	margin: 1rem;
	height: 86vh;
}

.delete-tab-text {
	margin-top: 0.5rem;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.tab {
	width: 93%;
	flex: 1;

	.tab-title {
		.tab-title-text {
			max-width: 6rem;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		display: flex;
		align-items: center;

		.tab-actions {
			margin-left: 1rem;
			display: flex;
			gap: 0.25rem;
		}

		.delete-tab,
		.edit-tab {
			visibility: hidden;
			opacity: 0;
			transition:
				visibility 0s,
				opacity 0.5s linear;
		}

		&:hover {
			.delete-tab,
			.edit-tab {
				visibility: visible;
				opacity: 1;
				transition:
					visibility 0s,
					opacity 0.5s linear;
			}
		}
	}
}

.card {
	margin: 1rem;
	flex: 1;
	height: 100%;

	.card-body {
		flex: 1;
	}
}
