.table-view {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.no-tabs,
.no-tables {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100%;
}

.tabs {
	margin: 1rem;
	height: 86vh;
}

.tab {
	width: 93%;
	flex: 1;

	.tab-title {
		display: flex;
		align-items: center;

		.delete-tab,
		.edit-tab {
			visibility: hidden;
			opacity: 0;
			transition:
				visibility 0s,
				opacity 0.5s linear;
		}

		&:hover {
			.delete-tab,
			.edit-tab {
				visibility: visible;
				opacity: 1;
				transition:
					visibility 0s,
					opacity 0.5s linear;
			}
		}
	}
}

.card {
	margin: 1rem;
	flex: 1;
	height: 100%;

	.card-body {
		flex: 1;
	}
}
