.custom-table {
  margin: 1rem;

  thead {
    background-color: darkred;
  }

  tbody {
    td:first-child {
      background-color: darkred;
      text-align: start;
    }

    td {
      text-align: center;
    }
  }
}

.checked {
  background-color: green;
}

.un-checked {
  background-color: dodgerblue;
}
