.picker {
	position: relative;
}

.popover {
	z-index: 15;
	margin: 0.5rem;
	position: absolute;
	width: fit-content;
	top: calc(100% + 2px);
	left: 0;
	border-radius: 8px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
