.header {
	justify-content: flex-start;
  background-color: rgba(14, 46, 68, 0.78);
  -webkit-app-region: drag;



  .headline {
    margin: 0;
		font-size: xx-large;
		font-weight: bolder;
  }

  .link {
    -webkit-app-region: no-drag;
  }
}
nav {
	header {
		div:first-child {
			flex: 0.35;
		}
	}
}
