.card {
	margin: 1rem;
	flex: 1;
	height: 100%;
	position: static;
	z-index: 1;

	.card-body {
		flex: 1;

		.table-view {
			display: flex;
			flex-wrap: wrap;
			height: 100%;
		}
	}
}

.no-tables {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100%;
}

.delete-tab-text {
	margin-top: 0.5rem;
	display: flex;
	gap: 1rem;
	align-items: center;
}
